doctype transitional
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title &#x6A9;&#x62F; &#x62A;&#x627;&#x6CC;&#x6CC;&#x62F;
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Markazi+Text')
  style(type='text/css' rel='stylesheet' media='all').
    /* Base ------------------------------ */
    *:not(br):not(tr):not(html) {
    font-family: 'Markazi Text' , Arial, 'Helvetica Neue', Helvetica, sans-serif;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }
    body {
    width: 100% !important;
    height: 100%;
    margin: 0;
    line-height: 1.4;
    background-color: #F5F7F9;
    color: #839197;
    -webkit-text-size-adjust: none;
    }
    a {
    color: #414EF9;
    }
    /* Layout ------------------------------ */
    .email-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F5F7F9;
    }
    .email-content {
    width: 100%;
    margin: 0;
    padding: 0;
    }
    /* Masthead ----------------------- */
    .email-masthead {
    padding: 25px 0;
    text-align: center;
    }
    .email-masthead_logo {
    max-width: 400px;
    border: 0;
    }
    .email-masthead_name {
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    }
    /* Body ------------------------------ */
    .email-body {
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: 1px solid #E7EAEC;
    border-bottom: 1px solid #E7EAEC;
    background-color: #FFFFFF;
    }
    .email-body_inner {
    width: 570px;
    margin: 0 auto;
    padding: 0;
    }
    .email-footer {
    width: 570px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    }
    .email-footer p {
    color: white;
    }
    .body-action {
    width: 100%;
    margin: 30px auto;
    padding: 0;
    text-align: center;
    }
    .body-sub {
    margin-top: 25px;
    padding-top: 25px;
    border-top: 1px solid #E7EAEC;
    }
    .content-cell {
    padding: 35px;
    }
    .align-right {
    text-align: right;
    }
    /* Type ------------------------------ */
    h1 {
    margin-top: 0;
    color: #292E31;
    font-size: 19px;
    font-weight: bold;
    text-align: right;
    }
    h2 {
    margin-top: 0;
    color: #292E31;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    }
    h3 {
    margin-top: 0;
    color: #292E31;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    }
    p {
    margin-top: 0;
    color: #839197;
    font-size: 16px;
    line-height: 1.5em;
    text-align: right;
    }
    p.sub {
    font-size: 12px;
    }
    p.center {
    text-align: center;
    }
    /* Buttons ------------------------------ */
    .button {
    display: inline-block;
    width: 200px;
    background-color: #414EF9;
    border-radius: 3px;
    color: #ffffff;
    font-size: 15px;
    line-height: 45px;
    text-align: center;
    text-decoration: none;
    -webkit-text-size-adjust: none;
    mso-hide: all;
    }
    .button--green {
    background-color: #28DB67;
    }
    .button--red {
    background-color: #FF3665;
    }
    .button--blue {
    background-color: #414EF9;
    }
    /*Media Queries ------------------------------ */
    @media only screen and (max-width: 600px) {
    .email-body_inner,
    .email-footer {
    width: 100% !important;
    }
    }
    @media only screen and (max-width: 500px) {
    .button {
    width: 100% !important;
    }
    }
table.email-wrapper(width='100%' cellpadding='0' cellspacing='0')
  tbody(style='background-color: rgb(1,121,111)')
    tr
      td(align='center')
        table.email-content(width='100%' cellpadding='0' cellspacing='0')
          // Logo
          tr
            td.email-masthead
              a.email-masthead_name Chortec
          // Email Body
          tr
            td.email-body(width='100%')
              table.email-body_inner(align='center' width='570' cellpadding='0' cellspacing='0')
                // Body content
                tr
                  td.content-cell
                    h1 &#x627;&#x6CC;&#x645;&#x6CC;&#x644; &#x62E;&#x648;&#x62F; &#x631;&#x627; &#x62A;&#x627;&#x6CC;&#x6CC;&#x62F; &#x6A9;&#x646;&#x6CC;&#x62F;
                    p .&#x645;&#x645;&#x646;&#x648;&#x646; &#x627;&#x632; &#x627;&#x646;&#x62A;&#x62E;&#x627;&#x628; &#x686;&#x631;&#x62A;&#x6A9;. &#x627;&#x632; &#x627;&#x6CC;&#x646;&#x6A9;&#x647; &#x647;&#x645;&#x647; &#x62F;&#x646;&#x6AF;&#x627;&#x634;&#x648;&#x646; &#x631;&#x648; &#x645;&#x6CC;&#x62F;&#x646; &#x644;&#x630;&#x62A; &#x628;&#x628;&#x631;&#x6CC;&#x62F;
                    // Action
                    table.body-action(align='center' width='100%' cellpadding='0' cellspacing='0')
                      tr
                        td(align='center')
                          div
                            //if mso
                              v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml' xmlns:w='urn:schemas-microsoft-com:office:word' href='{{action_url}}' style='height:45px;v-text-anchor:middle;width:200px;' arcsize='7%' stroke='f' fill='t')
                                v:fill(type='tile' color='#414EF9')
                                  w:anchorlock
                                    center(style='color:#ffffff;font-family:sans-serif;font-size:15px;') Verify Email
                            h1(style='text-align:center')
                              | #{code}
                    p
                      | &#x60C;&#x628;&#x627; &#x62A;&#x634;&#x6A9;&#x631;
                      br
                      | &#x62A;&#x6CC;&#x645; &#x686;&#x631;&#x62A;&#x6A9;
                    // Sub copy
          tr
            td
              table.email-footer(align='center' width='570' cellpadding='0' cellspacing='0')
                tr
                  td.content-cell
                    p.sub.center
                      | The100 Inc.
                      br
                      | Bleh Bleh Bleh
